@using Bookmarks.Web.ViewModels.Bookmarks
@model IEnumerable<ThumbnailBookmarkViewModel>
<div class="row text-center">
    <form class="form-inline" id="searchForm" autocomplete="off">
        <label for="searchInput" id="searchLabel"><strong>Search:</strong> </label>
        <input class="form-control" id="searchInput" type="text" name="Title" />
    </form>
</div>


<div id="results">
    @Html.Partial("_BookmarkResult", Model)
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script>
        $('#searchInput').on('input', function () {

            var inputValue = $(this).val().toLowerCase();

            $('.bookmark').each(function () {

                var $this = $(this);

                if (inputValue == "") {
                    $this.show();
                    return;
                }

                if ($this.attr('data-title').toLowerCase().indexOf(inputValue) < 0) {
                    $this.hide();
                }
                else {
                    $this.show();
                }
            });
        });
    </script>
}