@using Bookmarks.Web.ViewModels.Bookmarks
@model IEnumerable<ThumbnailBookmarkViewModel>
<div class="row">
    <p class="col-md-1"><strong>Search:</strong> </p>

    @using (Ajax.BeginForm("Search",
                new
                {
                    TagName = TempData["TagName"],
                    WebsiteName = TempData["WebsiteName"]
                },
                new AjaxOptions
                {
                    UpdateTargetId = "results",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST"
                },
                new
                {
                    id = "searchForm",
                    @class = "col-md-3",
                    autocomplete = "off"
                }))
    {
        <input type="text" name="Title" oninput="changed()" />
    }
</div>


<div id="results">
    @Html.Partial("_BookmarkResult", Model)
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script>
        function changed() {
            $("#searchForm").submit();
        }
    </script>
}