@using Bookmarks.Web.ViewModels.Tags
@model IEnumerable<TagsViewModel>

<ul class="nav nav-pills" role="tablist">
    @{
        char nextChar = '{';
        foreach (var tag in Model)
        {
            char currentChar = tag.Name[0];
            if (currentChar != nextChar)
            {
                <br/><br />
                <div class="row">
                    <li><strong class="text-uppercase">@currentChar</strong><hr class="delimater" /></li>
                </div>
                nextChar = currentChar;
            }
            <li role="presentation">
                <a href="/Bookmarks/ByTag?name=@tag.Name">
                    @tag.Name
                    <span class="badge">
                        @tag.UsedTimes
                    </span>
                </a>
            </li>
        }
    }
</ul>
