body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:darkgoldenrod;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.crop {
    overflow: hidden;
    display: block;
    height: 120px;
}

.bm-thumb-title {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.details{
    margin-top: -20px;
    margin-bottom: 20px;
}
.asd{

    color:white;
}
.delimater{
    margin:5px 0;
    border-width:2px 0;
    border-color:black;
    color:black;
}