<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            To use our web application bla bla ...
        </p>
        <p>
            Download extension ...
        </p>
    </div>
</div>